<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tittle</title>
</head>
<body>
    <div id="demo">
        <input class="input" type="text" v-model="list">
        <button @click="add()">add</button>
        <ul>
            <li v-for="(text,index) in msg">
                    {{text}} 
                    <button @click="del(index)">del</button>
            </li>
        </ul>
    </div>
    
    <script src="vue.js"></script>
    <script>
         var vm = new Vue({
             el:'#demo',
             data:{
                msg:[], 
                list:'',
            },
            methods:{
                add(){
                    this.msg.push(this.list);
                    this.list="";
                },
                del(index){
                    this.msg.splice(index,1);
                }
            }
         });
    
    </script>
</body>
</html>